@import './../../styles/configuration';

.header {
  height: $header-height;
  background-color: $header-bg-color;
}

.today {
  float: right;
  margin: 1rem;
  padding: 0.5rem;
}

.select {
  float: right;
  margin: 1rem;
  padding: 0.5rem;
}
