/* variables */
$body-bg: #e5e5e5;
$font-family-base: 'Gilroy_r';

$primary: #6f52ed;
$secondary: #211947;

/* Including bootstrap Configuration to override and acess them anywhere with just the import of this file
* Note:- to override bootstrap variables include them above the import
*/
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// header
$header-height: 100px;
$header-bg-color: $white;

// sidebar
$sidebar-bg-color: $secondary;
$sidebar-color: $secondary;
$sidebar-width: 380px;
$sidebar-color: $white;

// logo
$logo-bg: $primary;
$logo-height: $header-height;
$logo-width: $header-height;

// fonts
$font-family-bold: 'Gilroy_b';
$font-family-regular: $font-family-base;
$font-family-light: 'Gilroy_l';

// views
$view-grey-100: #f8f8fb;
$view-grey-200: #c9ced6;
$view-black-100: #373b53;
$view-black-200: #505967;
$view-skyblue-100: #e8f2ff;

$view-header-height: 4rem;
