/* variables */
$body-bg: #e5e5e5;
$font-family-base: 'Gilroy_r';

$primary: #6f52ed;

/* Including bootstrap Configuration to override and acess them anywhere with just the import of this file
* Note:- to override bootstrap variables include them above the import
*/
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// header
$header-height: 100px;
$header-bg-color: $white;

// sidebar
$sidebar-bg-color: #211947;
$sidebar-color: #211947;
$sidebar-width: 380px;
$sidebar-color: $white;

// logo
$logo-bg: $primary;
$logo-height: $header-height;
$logo-width: $header-height;

// fonts
$font-family-bold: 'Gilroy_b';
$font-family-regular: $font-family-base;
$font-family-light: 'Gilroy_l';
