/* variables */
$body-bg: #e5e5e5;

/* Including bootstrap Configuration to override and acess them anywhere with just the import of this file
* Note:- to override bootstrap variables include them above the import
*/
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// header
$header-height: 100px;
$header-bg-color: $white;

// sidebar
$sidebar-bg-color: #211947;
$sidebar-color: #211947;
$sidebar-width: 439px;
$sidebar-color: $white;

// logo
$logo-bg: #6f52ed;
$logo-height: $header-height;
$logo-width: $header-height;
