// app
$body-bg: #e5e5e5;

// sidebar
$sidebar-bg-color: #211947;
$sidebar-color: #211947;
$sidebar-width: 339px;

// Including bootstrap Configuration to acess them anywhere with just the import of this file
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
