/** header styles  **/
.view-header {
  text-align: center;
  display: flex;
  align-items: center;
  height: $view-header-height;

  &-name {
    font-family: $font-family-light;
    min-width: 16rem;
    margin: 0;
  }

  &-date {
    font-family: $font-family-bold;
    margin-right: 1rem;
  }

  &-date,
  &-month,
  &-year {
    margin-right: 1rem;
  }

  &-btn {
    margin: 0 1rem;

    img {
      width: 30px;

      &.prev-img {
        transform: rotate(180deg);
      }
    }
  }

  .today {
    color: $primary;
  }
}
