.rdrCalendarWrapper {
  color: #000;
  font-size: 12px;
  width: 100%;
  &:not(.rdrDateRangeWrapper) {
    .rdrDayHovered {
      .rdrDayNumber {
        &::after {
          content: '';
          border: 1px solid currentColor;
          border-radius: 1.333em;
          position: absolute;
          top: -2px;
          bottom: -2px;
          left: 0;
          right: 0;
          background: transparent;
        }
      }
    }
  }
}
.rdrDateDisplayWrapper {
  background-color: rgb(239, 242, 247);
}
.rdrDateDisplay {
  margin: 0.833em;
}
.rdrDateDisplayItem {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(35, 57, 66, 0.21);
  border: 1px solid transparent;
  input {
    cursor: pointer;
    height: 2.5em;
    line-height: 2.5em;
    border: 0;
    background: transparent;
    width: 100%;
    color: #849095;
  }
}
.rdrDateDisplayItemActive {
  border-color: currentColor;
  input {
    color: #7d888d;
  }
}
.rdrMonthAndYearWrapper {
  -webkit-box-align: center;
  align-items: center;
  height: 60;
  padding-top: 10;
}
.rdrMonthAndYearPickers {
  font-weight: 600;
  select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 10 30 10 10;
    border-radius: 4px;
    outline: 0;
    color: #3e484f;
    background: url("data:image/svg+xml;utf8,<svg width='9px' height='6px' viewBox='0 0 9 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-636.000000, -171.000000)' fill-opacity='0.368716033'><g id='input' transform='translate(172.000000, 37.000000)' fill='%230E242F' fill-rule='nonzero'><g id='Group-9' transform='translate(323.000000, 127.000000)'><path d='M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z' id='arrow'></path></g></g></g></svg>")
      no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }
}
.rdrMonthPicker {
  margin: 0 5px;
}
.rdrYearPicker {
  margin: 0 5px;
}
.rdrNextPrevButton {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 0.833em;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: #eff2f7;
  &:hover {
    background: #e1e7f0;
  }
  i {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    border-style: solid;
    margin: auto;
    -webkit-transform: translate(-3px, 0);
    transform: translate(-3px, 0);
  }
}
.rdrPprevButton {
  i {
    border-width: 4px 6px 4px 4px;
    border-color: transparent rgb(52, 73, 94) transparent transparent;
    -webkit-transform: translate(-3px, 0);
    transform: translate(-3px, 0);
  }
}
.rdrNextButton {
  i {
    margin: 0 0 0 7px;
    border-width: 4px 4px 4px 6px;
    border-color: transparent transparent transparent rgb(52, 73, 94);
    -webkit-transform: translate(3px, 0);
    transform: translate(3px, 0);
  }
}
.rdrWeekDays {
  padding: 0 0.833em;
}
.rdrMonth {
  padding: 0 0.833em 1.666em 0.833em;
  .rdrWeekDays {
    padding: 0;
  }
}
.rdrMonths.rdrMonthsVertical {
  .rdrMonth {
    &:first-child {
      .rdrMonthName {
        display: none;
      }
    }
  }
}
.rdrWeekDay {
  font-weight: 400;
  line-height: 2.667em;
  color: rgb(132, 144, 149);
}
.rdrDay {
  background: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0;
  line-height: 3em;
  height: 3em;
  text-align: center;
  color: #1d2429;
  &:focus {
    outline: 0;
  }
  &:not(.rdrDayPassive) {
    .rdrInRange {
      ~ {
        .rdrDayNumber {
          span {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
    }
    .rdrStartEdge {
      ~ {
        .rdrDayNumber {
          span {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
    }
    .rdrEndEdge {
      ~ {
        .rdrDayNumber {
          span {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
    }
    .rdrSelected {
      ~ {
        .rdrDayNumber {
          span {
            color: rgba(255, 255, 255, 0.85);
          }
        }
      }
    }
  }
}
.rdrDayNumber {
  outline: 0;
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  bottom: 5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.rdrDayToday {
  .rdrDayNumber {
    span {
      font-weight: 500;
      &::after {
        content: '';
        position: absolute;
        bottom: 4px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 18px;
        height: 2px;
        border-radius: 2px;
        background: #3d91ff;
      }
    }
  }
  &:not(.rdrDayPassive) {
    .rdrInRange {
      ~ {
        .rdrDayNumber {
          span {
            &::after {
              background: #fff;
            }
          }
        }
      }
    }
    .rdrStartEdge {
      ~ {
        .rdrDayNumber {
          span {
            &::after {
              background: #fff;
            }
          }
        }
      }
    }
    .rdrEndEdge {
      ~ {
        .rdrDayNumber {
          span {
            &::after {
              background: #fff;
            }
          }
        }
      }
    }
    .rdrSelected {
      ~ {
        .rdrDayNumber {
          span {
            &::after {
              background: #fff;
            }
          }
        }
      }
    }
  }
}
.rdrSelected {
  background: currentColor;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 2px;
  right: 2px;
  border-radius: 1.042em;
}
.rdrInRange {
  background: currentColor;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 5px;
}
.rdrStartEdge {
  background: currentColor;
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 5px;
  border-top-left-radius: 1.042em;
  border-bottom-left-radius: 1.042em;
  left: 2px;
}
.rdrEndEdge {
  background: currentColor;
  position: absolute;
  top: 5px;
  left: 0;
  bottom: 5px;
  border-top-right-radius: 1.042em;
  border-bottom-right-radius: 1.042em;
  right: 2px;
}
.rdrDayStartOfMonth {
  .rdrInRange {
    border-top-left-radius: 1.042em;
    border-bottom-left-radius: 1.042em;
    left: 2px;
  }
  .rdrEndEdge {
    border-top-left-radius: 1.042em;
    border-bottom-left-radius: 1.042em;
    left: 2px;
  }
  .rdrDayInPreview {
    border-top-left-radius: 1.333em;
    border-bottom-left-radius: 1.333em;
    border-left-width: 1px;
    left: 0;
  }
  .rdrDayEndPreview {
    border-top-left-radius: 1.333em;
    border-bottom-left-radius: 1.333em;
    border-left-width: 1px;
    left: 0;
  }
}
.rdrDayStartOfWeek {
  .rdrInRange {
    border-top-left-radius: 1.042em;
    border-bottom-left-radius: 1.042em;
    left: 2px;
  }
  .rdrEndEdge {
    border-top-left-radius: 1.042em;
    border-bottom-left-radius: 1.042em;
    left: 2px;
  }
  .rdrDayInPreview {
    border-top-left-radius: 1.333em;
    border-bottom-left-radius: 1.333em;
    border-left-width: 1px;
    left: 0;
  }
  .rdrDayEndPreview {
    border-top-left-radius: 1.333em;
    border-bottom-left-radius: 1.333em;
    border-left-width: 1px;
    left: 0;
  }
}
.rdrDayEndOfMonth {
  .rdrInRange {
    border-top-right-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
    right: 2px;
  }
  .rdrStartEdge {
    border-top-right-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
    right: 2px;
  }
  .rdrDayInPreview {
    border-top-right-radius: 1.333em;
    border-bottom-right-radius: 1.333em;
    border-right-width: 1px;
    right: 0;
  }
  .rdrDayStartPreview {
    border-top-right-radius: 1.333em;
    border-bottom-right-radius: 1.333em;
    border-right-width: 1px;
    right: 0;
  }
}
.rdrDayEndOfWeek {
  .rdrInRange {
    border-top-right-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
    right: 2px;
  }
  .rdrStartEdge {
    border-top-right-radius: 1.042em;
    border-bottom-right-radius: 1.042em;
    right: 2px;
  }
  .rdrDayInPreview {
    border-top-right-radius: 1.333em;
    border-bottom-right-radius: 1.333em;
    border-right-width: 1px;
    right: 0;
  }
  .rdrDayStartPreview {
    border-top-right-radius: 1.333em;
    border-bottom-right-radius: 1.333em;
    border-right-width: 1px;
    right: 0;
  }
}
.rdrDayStartPreview {
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 3px;
  pointer-events: none;
  border: 0 solid currentColor;
  z-index: 1;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 1.333em;
  border-bottom-left-radius: 1.333em;
  left: 0;
}
.rdrDayInPreview {
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  pointer-events: none;
  border: 0 solid currentColor;
  z-index: 1;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.rdrDayEndPreview {
  background: rgba(255, 255, 255, 0.09);
  position: absolute;
  top: 3px;
  bottom: 3px;
  pointer-events: none;
  border: 0 solid currentColor;
  z-index: 1;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-right-radius: 1.333em;
  border-bottom-right-radius: 1.333em;
  right: 2px;
  right: 0;
}
.rdrDefinedRangesWrapper {
  font-size: 12px;
  // width: 226px;
  width: 50%;
  border-right: solid 1px #eff2f7;
  background: #fff;
  .rdrStaticRangeSelected {
    color: currentColor;
    font-weight: 600;
  }
}
.rdrStaticRange {
  border: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  border-bottom: 1px solid #eff2f7;
  padding: 0;
  background: #fff;
  &:hover {
    .rdrStaticRangeLabel {
      background: #eff2f7;
    }
  }
  &:focus {
    .rdrStaticRangeLabel {
      background: #eff2f7;
    }
  }
}
.rdrStaticRangeLabel {
  display: block;
  outline: 0;
  line-height: 18px;
  padding: 10 20;
  text-align: left;
}
.rdrInputRanges {
  padding: 10 0;
}
.rdrInputRange {
  -webkit-box-align: center;
  align-items: center;
  padding: 5px 20;
}
.rdrInputRangeInput {
  width: 30;
  height: 30;
  line-height: 30;
  border-radius: 4px;
  text-align: center;
  border: solid 1px rgb(222, 231, 235);
  margin-right: 10;
  color: rgb(108, 118, 122);
  &:focus {
    border-color: rgb(180, 191, 196);
    outline: 0;
    color: #333;
  }
  &:hover {
    border-color: rgb(180, 191, 196);
    outline: 0;
    color: #333;
  }
}
.rdrDayPassive {
  pointer-events: none;
  .rdrDayNumber {
    span {
      color: #d5dce0;
    }
  }
  .rdrInRange {
    display: none;
  }
  .rdrStartEdge {
    display: none;
  }
  .rdrEndEdge {
    display: none;
  }
  .rdrSelected {
    display: none;
  }
  .rdrDayStartPreview {
    display: none;
  }
  .rdrDayInPreview {
    display: none;
  }
  .rdrDayEndPreview {
    display: none;
  }
}
.rdrDayDisabled {
  background-color: rgb(248, 248, 248);
  .rdrDayNumber {
    span {
      color: #aeb9bf;
    }
  }
  .rdrInRange {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
  .rdrStartEdge {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
  .rdrEndEdge {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
  .rdrSelected {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
  .rdrDayStartPreview {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
  .rdrDayInPreview {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
  .rdrDayEndPreview {
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
  }
}
.rdrMonthName {
  text-align: left;
  font-weight: 600;
  color: #849095;
  padding: 0.833em;
}
