@font-face {
    font-family: 'Gilroy_r';
    src: local('Gilroy_r'), url(../../internals/fonts/gilroy/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy_b';
    src: local('Gilroy_b'), url(../../internals/fonts/gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy_l';
    src: local('Gilroy_l'), url(../../internals/fonts/gilroy/Gilroy-Light.ttf) format('truetype');
}
