@import './font.scss';
@import './bootstrap/bootstrap';

@import './btn';
@import './views';

// @import 'react-date-range/dist/styles.css'; // main style file
// @import 'react-date-range/dist/theme/default.css'; // theme css file

@import './date-range-style.scss';
@import './date-range-theme.scss';

#root {
  display: flex;
  height: 100vh;
}

.mainInputDiv {
  float: left;
  position: relative;
  padding: 0;
}

.effect1 {
  position: relative;
border: 0;
padding: 7px 15px;
  border: 1px solid #ccc;
  width: 100%;
  position: relative;
  height: 100%;
background: transparent;
~ {
  .focusbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
  }
}
&:focus {
      border: 1px solid black;
      outline: black;
  ~ {
    .focusbg {
              transition: 0.3s;
              height: 100%;
      width: 100%;
    }
  }
  }
  &:active {
      border: 1px solid black;
  }
}