@import './../../styles/configuration';

.conatiner {
  height: 100%;
  width: 100%;
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .month-wrapper {
    min-width: 8rem;
  }

  .month {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .year {
    font-size: 1rem;
    line-height: 1rem;
  }

  .month,
  .year {
    margin: 0;
  }
}

.slection-preview {
  flex: 1;
}

.dates-container {
  flex: 2;

  .weekday {
    font-weight: 600;
  }

  .prev-month,
  .next-month {
    .date-btn-txt {
      color: $gray-500;
    }
  }

  .prev-month,
  .next-month,
  .curr-month,
  .non-selectable {
    padding: 0.2rem;
    border: 2px solid transparent;
  }

  .curr-month,
  .next-month,
  .prev-month,
  .today {
    cursor: pointer;
    &:hover {
      border: 2px solid lighten($primary, 10);
    }
  }

  .curr-month {
    color: $black;
    cursor: pointer;
  }

  .today {
    color: lighten($primary, 10);
    font-weight: 600;

    .date-btn-txt {
      display: inline-block;
      width: 100%;
      border-bottom: 2px solid lighten($primary, 10);
    }
  }
}

.preview-date {
  color: $white !important;
  background-color: lighten($primary, 30);
}

.start-date,
.end-date,
.selected-date {
  color: $white !important;
  background-color: $primary;

  &.today > .date-btn-txt {
    border-bottom: 2px solid $white;
  }
}

.non-selectable {
  &,
  & > * {
    color: $gray-600;
    background-color: $gray-100;
    cursor: not-allowed !important;
  }
}
