@import './../../styles/configuration';

/** header styles  **/
.header {
  :global(.view-header-name) {
    color: $primary;
  }
}

/** dates styles  **/
.weekday {
  font-family: $font-family-light;
  color: $view-black-100;
  padding: 1rem;
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
}

.curr-month,
.next-month,
.prev-month {
  background-color: $white;
  margin: 0.3rem;
  border-radius: 0.6rem;
  color: $view-black-200;
  font-size: 1.2rem;
  padding-top: 0.6rem;

  @include media-breakpoint-up(lg) {
    min-height: 11vh;
    &.max-rows-view {
      min-height: 9vh;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: 11.5vh;
    &.max-rows-view {
      min-height: 9.5vh;
    }
  }

  @include media-breakpoint-up(xxl) {
    min-height: 13.5vh;
    &.max-rows-view {
      min-height: 11vh;
    }
  }
}

.prev-month,
.next-month {
  background-color: $view-grey-100 !important;
}

.today {
  color: $white;
  background-color: $primary;
}

.prevdays {
  background-color: $view-skyblue-100;
}
