@import './../../styles/configuration';

.sidebar {
  background-color: $sidebar-bg-color;
  width: $sidebar-width;
  color: $sidebar-color;
}

.header {
  height: $header-height;
  display: flex;

  &-description {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 22px;
    font-family: 'Gilroy_b';
  }
}

.logo {
  width: $logo-height;
  height: $logo-height;
  background: $logo-bg;

  // temp styling logo will be an image
  span {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 25px;
    top: 18px;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.01em;
  }
}

.curr-month {
  color: $white;
  text-align: center;
  margin: 10px 0px;
}

.today {
  color: $logo-bg;
  background-color: $white;
  text-align: center;
  margin: 10px 0px;
}

.prev-month {
  color: $gray-600;
  text-align: center;
  margin: 10px 0px;
}

.next-month {
  color: $gray-600;
  text-align: center;
  margin: 10px 0px;
}

.date-container {
  margin-top: 25px;
}

.month-display {
  font-family: 'Gilroy_b';
}

.year-display {
  font-family: 'Gilroy_l';
  font-size: 20px;
  padding-bottom: 15px;
}

.weekday-display {
  font-family: 'Gilroy_b';
  padding-bottom: 10px;
  text-align: center;
}
