@import './../../styles/configuration';

.wrapper {
  margin-top: 25px;
}

.sidebar {
  background-color: $sidebar-bg-color;
  width: $sidebar-width;
  color: $sidebar-color;
}

.header {
  height: $header-height;
  display: flex;

  &-description {
    flex: 1;
    text-align: center;
    align-self: center;
    font-size: 22px;
    font-family: $font-family-bold;
  }
}

.logo {
  width: $logo-height;
  height: $logo-height;
  background: $logo-bg;

  // temp styling logo will be an image
  span {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 25px;
    top: 18px;
    font-size: 55px;
    line-height: 67px;
    letter-spacing: 0.01em;
  }
}

.month {
  font-family: $font-family-bold;
}

.year {
  font-family: $font-family-light;
  font-size: 20;
  padding-bottom: 15px;
}

.weekday {
  font-family: $font-family-bold;
  padding-bottom: 10;
}

.curr-month {
  color: $white;
  margin: 10px 0;
}

.today {
  color: $primary;
  background-color: $white;
  margin: 10px 0;
}

.prev-month,
.next-month {
  color: $gray-600;
  margin: 10px 0;
}

.event {
  display: flex;
  padding: 1rem;
  padding-top: 3rem;
  flex-wrap: wrap;

  .eventTitle {
    flex: 2;
  }

  .modalDiv {
    float: right;
  }
}
