@import './../../styles/configuration';

$cell-height: 4rem;
$cell-margin-left: 4rem;

.week-day-header-wrapper {
  display: flex;
  .week-day-header {
    flex: 1;
    text-align: center;
    font-family: $font-family-bold;
  }
}

.week {
  height: calc(100% - #{$view-header-height} - 2rem);
  overflow: auto;
  position: relative;
  margin-right: -1rem;
  padding: 1rem 2rem;
  display: flex;
  padding-left: 5rem;
}

.week-day {
  flex: 1;
  &-date {
    text-align: center;
  }
  &-time {
    min-height: $cell-height;
    position: relative;
    border: 1px solid $gray-500;

    &-head {
      color: $gray-600;
      font-family: $font-family-bold;
      position: absolute;
      top: -0.6rem;
      left: -$cell-margin-left;
    }
  }

  &-interval {
    flex: 1;

    &-wrapper {
      display: flex;
      height: $cell-height;
      flex-direction: column;
    }
  }
}

.time-inicator {
  height: 0.1rem;
  background-color: $red;
  position: absolute;
  width: 94%;
  right: 1.5rem;
}
